config:
  plex:
    apiKey: YOUR_PLEX_API_KEY
    baseURL: http://127.0.0.1:32400
  lists:
    - name: Marvel Movies
      imdb-ids:
        - id: ls041413544
    - name: DC Movies
      imdb-ids:
        - id: ls041927031
    - name: Comic Book Movies
      imdb-ids:
        - id: ls004135985
        - id: ls041413544
        - id: ls041927031
    - name: Lego Movies
      regexs:
        - search: \blego\b
          options: i
      imdb-ids:
        - id: ls041373304
