config:
  plex:
    apiKey: YOUR_PLEX_API_KEY                     # Your plex token https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/
    baseURL: http://127.0.0.1:32400               # Base URL of your Plex server, not app.plex.tv
  tmdb:                                           # TMDb details
    apiKey: 83a1d147d36597e5a47d1c7d93e611b8      # APIKey https://developers.themoviedb.org/3/getting-started/introduction
    adult: false                                  # Some Api calls allow you to specify this, not all
  trakt:                                          # Trakt details if you use trakt lists
    oAuth:                                        # Create an app here https://trakt.tv/oauth/applications/new
      clientId: abcdefg                           #   Trakt ClientId
      clientSecret: abcdefg                       #   Trakt ClientSecret
  updateDb: true                                  # Update the localdb when running, needed 
  purge: 1                                        # Remove collections with this number or fewer items in
  sortbyorder: true                               # Set the Sort Title prefix's so that the collections appear in the order in this config file by using 0000, 0001 etc as the prefix
  logging:                                        # Switch on console logging for individual types of data
    added: true                                   #   Display if Movie was added to collection
    exists: false                                 #   Display if Movie already existed in the collection
    notfound: false                               #   Display if Movie was not found in your Plex library
    debug: false                                  #   Turn on debugging
    verbose: false                                #   Turn on verbose debugging
  lists:
    #Each collection can use between one and all of the following options (imdb-ids, imdb-search, regexs and trim) combined together if required

    #Simple example of a public IMDb user list building a collection
    - name: Marvel Movies
      imdb-ids:
        - id: ls041413544

    #Simple example of a public IMDb user list building a collection overriding the default sort prefix
    - name: DC Movies
      imdb-ids:
        - id: ls041927031
      sortprefix: "0001 "

    #Simple example of multiple public IMDb user lists building a collection
    - name: Comic Book Movies
      imdb-ids:
        - id: ls004135985
        - id: ls041413544
        - id: ls041927031

    #Example of using a Regex search on Movie Titles to build a collection
    - name: Lego Movies
      regexs:
        - search: \blego\b
          options: i
      imdb-ids:
        - id: ls041373304

    #Example of an IMDb search list building a collection
    - name: Tom Cruise Movies
      imdb-search:
        - url: https://www.imdb.com/search/title/?title_type=feature,tv_movie&role=nm0000129

    #Example of setting the poster of a collection to an images
    - name: James Bond Collection
      image: https://image.tmdb.org/t/p/w600_and_h900_bestv2/HORpg5CSkmeQlAolx3bKMrKgfi.jpg
      imdb-ids:
        - id: ls006405458

    #Example of an IMDb search list building a collection, using a limit of 100 items (from the IMDb list) and purging (trim) the collection each time
    #to remove stale items to keep it in sync
    - name: Top Popular movies
      trim: true                    #Delete and rebuild this collection every time to remove stale items from the collection
      imdb-search:
        - url: https://www.imdb.com/search/title/?title_type=feature
          limit: 100

    #Example of removing a collection by using Trim and no options to rebuild afterwards, this method unlocks the Tag.Collections in Plex of each Movies
    #to ensure that they aren't locked if you are also letting Plex build your collections too.
    - name: Collection I no longer want
      trim: true

    #Example of using a public user list from Trakt
    - name: Oscars
      trakt-custom-list:
        - user: catarinar13
          list: oscars

    #Example of using a TMDb Keyword
    - name: After Credit Stinger
      tmdb-keyword-ids:
        - id: 179430

    #Example of using a TBDb List
    - name: Top 50 Grossing Films of All Time (Worldwide)
      tmdb-list:
        ids:
          - id: 10
        poster: 10

    #Example of using a TMDb Colleciton
    - name: James Bond TMDb
      tmdb-collection:
        ids:
          - id: 645
        poster: 645
